// @import url('https://fonts.cdnfonts.com/css/major-mono-display');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.cdnfonts.com/css/playfair-display');
@import url('https://fonts.cdnfonts.com/css/poppins');
/*  font-family: 'Major Mono Display', sans-serif;
    font-family: 'Playfair Display', sans-serif;
    font-family: 'Poppins', sans-serif;
*/
@mixin font-styles($weight: 400, $size: 32px, $height: 34px, $color: #FFFFFF){
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}
@mixin flex($direction: row, $align: center, $justify: center){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
}
h1,h2,h3{
    font-family: 'Playfair Display', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./img/main_photo.png)  center / cover no-repeat;
    height: 100vh;
}
a{
    text-decoration: none;
}
button{
    padding: 10px 0;
    background: transparent;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
    width: 100%;
    max-width: 120px;
    
    color: #FFFFFF;
}
.sections_text_wrapper {}
.number_text_wrapper{
    @include flex(row, center, flex-start);
    flex-wrap: nowrap
}
.number {
    @include font-styles(600, 11rem, 150%, rgba(255, 255, 255, 0.13));
}
.number_text {
    @include font-styles(700, 14px, 22px, #D3BA74);
    position: relative;
    margin-left: 36px;
}
.number_text::before{
    position: absolute;
    content: '';
    width: 51px;
    height: 2px;
    background: #D3BA74;
    left: -64%;
    top: 50%;
}
.number2_text::before{
    left: -49%;
    top: 50%;
}
.number3_text::before{
    left: -32%;
    top: 50%;
}
.text_wrapper{
    transform: translate(154px, -115px);
    -webkit-transform: translate(154px, -115px);
    -moz-transform: translate(154px, -115px);
    -ms-transform: translate(154px, -115px);
    -o-transform: translate(154px, -115px);
}
.text2_wrapper{
    transform: translate(192px, -113px);
    -webkit-transform: translate(192px, -113px);
    -moz-transform: translate(192px, -113px);
    -ms-transform: translate(192px, -113px);
    -o-transform: translate(192px, -113px);
}
.text3_wrapper{
    transform: translate(186px, -110px);
    -webkit-transform: translate(186px, -110px);
    -moz-transform: translate(186px, -110px);
    -ms-transform: translate(186px, -110px);
    -o-transform: translate(186px, -110px);
}
.text_wrapper h2{
    @include font-styles(400, 4.375rem, 4.375rem, #FFFFFF);
}
.section_text {
    @include font-styles(300, 16px, 24px, rgba(255, 255, 255, 0.8));
}
.gallery{
    width: 100%;
    @include flex(row, center, space-between);
    gap: 10px;
}
hr{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0;
}
/* Header */
.logo{
    @include font-styles();
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
}
/* Main section */
main{
    background: linear-gradient(0deg, #0A1E27 85.81%, rgba(10, 30, 39, 0.4) 94.68%, rgba(10, 30, 39, 0) 100.15%);
}
.main{
    height: 75vh;
    @include flex();
}
.main_section_content_wrapper {
    @include flex(column, flex-start, center);
    gap: 40px;
}
.main_section_header {
    @include font-styles(400, 6.25rem, 6.25rem, #ffffff)
}
.main_section_header_text {
    letter-spacing: 0.24em;
    @include font-styles(700, 20px, 22px, #D3BA74)
}
.main_section_text {
    @include font-styles(300, 16px, 24px, rgba(255, 255, 255, 0.8))
}
/* Explore the world */
.explore_the_world {
    margin-top: 200px;
}
.explore_the_world_content_wrapper {
    @include flex(row, center, space-between);
}

/* Don`t miss section */
.dont_miss_content_wrapper{
    @include flex(row, center, space-between);
}

/* Open the window section */
.open_the_window_content_wrapper{
    @include flex(row, center, space-between);
}

/* Stats section */
.stats{
    padding: 131px 0;
}
.stats_content_wrapper {
    @include flex(row, center, space-around);
}
.stats_content {
    @include flex(column, center, space-between);
}
.stats_number {
    @include font-styles(600, 6.25rem, 6.875rem, rgba(255, 255, 255, 0.13));
}
.stats_text {
    @include font-styles(700, 14px, 22px, #D3BA74);
    letter-spacing: 0.24em;
} 
/* Last section */
.explore_more_content_wrapper {
    @include flex(row, center, space-between);
}
.explore_more_text_wrapper {
}
.explore_more_text_wrapper h2{
    @include font-styles(400, 4.375rem, 4.375rem, #ffffff);
}
.explore_more_text_wrapper p{
    @include font-styles(300, 16px, 24px, rgba(255, 255, 255, 0.8));
    margin-bottom: 64px;
}
/* Footer */
footer{
    background: #0A1E27 85.81%;
    
}
.footer_content_wrapper{
    @include flex(row, center, space-between);
}
.icons{
    width: auto;
    display: flex;
    align-items: center;
    gap: 44px;
}
svg{
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1400px){
    .explore_the_world_content_wrapper, .dont_miss_content_wrapper, .open_the_window_content_wrapper, .explore_more_content_wrapper{
        justify-content: center;
    }
    .dont_miss_content_wrapper{
        flex-direction: column-reverse;
    }
    .gallery{
        display: none;
    }
    .main_section_text{
        border-radius: 10px;
        padding: 10px;
        background: #03212ece;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}
@media (max-width: 610px){
    .text_wrapper, .text_wrapper2, .text_wrapper3{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
}
@media (max-width: 480px){
    .main_section_header {
        @include font-styles(400, 4rem, 4rem, #ffffff)
    }
    h2{
        @include font-styles(400, 2.5rem, 2.5rem, #FFFFFF);
    }
    .number2_text::before{
        left: -73%;
        top: 50%;
    }
    .number3_text::before{
        left: -77%;
        top: 50%;
    }
    .footer_content_wrapper{
        justify-content: center;
        gap: 10px;
    }
}