@import url('https://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/roboto');
/* font-family: 'Product Sans', sans-serif; */

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
body{
    background: #E5E5E5;
}
button{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: #000000;
    border-radius: 7.33503px;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    padding-inline-start: 0;
}
ul li{
    list-style: none;
}

.container{
    width: 75%;
    margin: 0 auto;
}
/* First section */
.main_section {
    height: 68vh;
    width: 100%;
}

.main_section_container {
    height: 100%;
    padding-left: 163px;
    background: #F4F6F9 url(./img/main_photo.png);
    display: flex;
    background-position:right;
    background-repeat: no-repeat;
}
.first_section_text_wrapper {
    margin-top: 61px;
    max-width: 546px;
}
.logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 133px;
}
.logo_text {
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
}
.first_section_text h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 30px;
}
.first_section_text>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-bottom: 50px;
}
.button_wrapper {
    display: flex;
    gap: 36px;
}
.apple_button {
}
.apple {
}
.button_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.button_text span{
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
.button_text p{
    text-align: left;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
}
.play_store_button {
}
.play_store {
}
/* Second section */
.second_section {
    height: 61vh;
    width: 100%;
}
.second_section_container {
    display: flex;
    align-items: center;
    height: 100%;
    background: #FFFFFF;
}
.second_section_images {
    width: 60%;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(./img/cristiano.png) ;
    height: 100%;
    display: flex;
    align-items: center;
}
.second_section_images img:nth-child(1){
    position: relative;
    z-index: 1;
}
.second_section_images img:nth-child(2){
    position: absolute;
    z-index: 0;
    left: 538px;
    bottom: -247px;
}
.second_section_text {

    max-width: 426px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.second_section_text span{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
.second_section_text h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.second_section_text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}
.second_section_text a{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
/* Third section */
.third_section {
    height: 66vh;
}
.third_section_container {
    height: 100%;
    background: url(./img/third_section_photo.png) center center /100% no-repeat;
    display: flex;
    align-items: center;
    padding-left: 162px;
}
.third_container_text {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.third_container_text span{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
.third_container_text h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.third_container_text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}
.third_container_text a{
    margin-top: 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
/* Fourth section */
.fourth_section {
    width: 100%;
    height: 68vh;
    
}
.fourth_section_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    background: url(./img/background.png) center center /100% no-repeat;
    padding: 76px 0 66px 0;
}
.fourth_section_container h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
}
.features_wrapper {
    width: 80%;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 87px; 
    grid-row-gap: 50px;
}
.feature ul li{
    color: #fff;
}
.feature ul li::before{
    content: "•";
    color: #fff;
}
/* Fifth section */
.fifth_section {
    width: 100%;
    height: 41vh;
}
.fifth_section_container {
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.fifth_section_container>svg{
    cursor: pointer;
}
.fifth_section_container h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.slider {
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slider img{
    transition: all 0.5s;
}
.slider img:hover{
    transform: scale(1.1);
}
/* Sixth section */
.sixth_section {
    height: 26vh;
}
.sixth_section_container {
    height: 100%;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sponsors {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}