.big--primary--buttons__wrapper  
    button.big--primary--button__active Download
    button.big--primary--button__disable Download
    button.big--primary--button__secondary Download
    button.big--primary--button__secondary--focused Download