.small--primary--buttons__wrapper  
    button.small--primary--button__active Download
    button.small--primary--button__disable Download
    button.small--primary--button__secondary Download
    button.small--primary--button__secondary--focused Download