@import url('https://fonts.cdnfonts.com/css/inter');
@mixin display($gap: 10px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
}
@mixin width($max_width: 144px, $padding: 14px){
    max-width: $max_width;
    width: 100%;
    padding: $padding 0;
}
@mixin font_size($size: 15px, $height: 18px){
    font-size: $size;
    line-height: $height;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    background: #18A0FB;
    border-radius: 5px;
}

.large--blue__primary--button{
    @include width();
    @include font_size();
}

.large--blue__primary--button__right--icon{
    @include display();
    @include width(144px, 12px);
}

.large--blue__primary--button__left--icon{
    @include display();
    flex-direction: row-reverse;
    @include width(144px, 12px);
}

.small--blue__primary--button{
    @include font_size(13px, 16px);
    @include display();
    @include width(116px, 10px);
}
.small--blue__primary--button__right--icon{
    @include width(116px, 8px);
}
.small--red__primary--button__left--icon{
    @include font_size(13px, 16px);
    @include display();
    @include width(116px, 8px);
    flex-direction: row-reverse;
    background: #FF3E1D;
}
.tag--button__primary{
    @include width(65px, 6px);
    @include font_size(13px, 16px);
    @include display(6px);
}
.tag--button__simple--primary{
    @include width(51px, 6px);
}