@import url('https://fonts.cdnfonts.com/css/inter');

@mixin main_properties($width: 144px, $padding: 12px){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: $padding 0;
    max-width: $width;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: none;
}
@mixin button_styles($color: #FFFFFF, $background: #FFFFFF){
    color: $color;
    background: $background;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.big--primary--buttons__right--icon__wrapper{
    display: flex;
    gap: 21px;
}
.big--primary--button__active__right--icon{
    @include main_properties();
    @include button_styles(#FFFFFF, #18A0FB);
    position: relative;
}
.big--primary--button__disable__right--icon{
    @include main_properties();
    @include button_styles(#878787, rgba(224, 224, 224, 0.3));
}
.big--primary--button__secondary__right--icon{
    @include main_properties();
    @include button_styles(#2C2C2C, #FFFFFF);
    border: 1px solid #E0E0E0;
}
.big--primary--button__secondary--focused__right--icon{
    @include main_properties();
    @include button_styles(#18A0FB, #FFFFFF);
    border: 1px solid #18A0FB;
}

.small--primary--buttons__right--icon__wrapper{
    display: flex;
    gap: 49px;
}
.small--primary--buttons__right--icon__wrapper img{
    width: 20px;
    height: 20px;
}
.small--primary--button__active__right--icon{
    @include main_properties(116px, 8px);
    @include button_styles(#FFFFFF, #18A0FB);
    position: relative;
}
.small--primary--button__disable__right--icon{
    @include main_properties(116px, 8px);
    @include button_styles(#878787, rgba(224, 224, 224, 0.3));
}
.small--primary--button__secondary__right--icon{
    @include main_properties(116px, 8px);
    @include button_styles(#2C2C2C, #FFFFFF);
    border: 1px solid #E0E0E0;
}
.small--primary--button__secondary--focused__right--icon{
    @include main_properties(116px, 8px);
    @include button_styles(#18A0FB, #FFFFFF);
    border: 1px solid #18A0FB;
}