doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="secondary_buttons_styles.css")
        title Secondary buttons
    body 
        button.large--secondary--button Download
        button.large--secondary--button.large--secondary--button__right--icon Download 
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4 12V19H20V12" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 3.50073L12 13.5007" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L15.375 10.1257" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L8.625 10.1257" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        button.large--secondary--button.large--secondary--button__left--icon Download 
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4 12V19H20V12" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 3.50073L12 13.5007" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L15.375 10.1257" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M12 13.5007L8.625 10.1257" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        button.small--secondary--button Download
        button.small--secondary--button.small--secondary--button__right--icon Download 
            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M3.33337 10V15.8333H16.6667V10" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 2.91728L10 11.2506" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 11.2506L12.8125 8.43811" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 11.2506L7.1875 8.43811" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        button.small--secondary--button.small--secondary--button__left--icon Download 
            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M3.33337 10V15.8333H16.6667V10" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 2.91728L10 11.2506" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 11.2506L12.8125 8.43811" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                path(d="M10 11.2506L7.1875 8.43811" stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        button.tag--button__primary Tag 
            svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                g(opacity="0.7")
                path(d="M5.45116 10.7845L7.64641 8.58921L7.99996 8.23565L8.35351 8.58921L10.5488 10.7845C10.6139 10.8495 10.7194 10.8495 10.7845 10.7845C10.8495 10.7194 10.8495 10.6139 10.7845 10.5488L8.58921 8.35351L8.23565 7.99996L8.58921 7.64641L10.7845 5.45116C10.8495 5.38607 10.8495 5.28052 10.7845 5.21543C10.7194 5.15036 10.6139 5.15036 10.5488 5.21543L10.5488 5.21544L8.35351 7.41071L7.99996 7.76427L7.6464 7.41071L5.45115 5.21544C5.45115 5.21544 5.45115 5.21544 5.45115 5.21544C5.38606 5.15036 5.28053 5.15036 5.21544 5.21543C5.21544 5.21544 5.21544 5.21544 5.21543 5.21544M5.45116 10.7845L5.21543 5.21544M5.45116 10.7845C5.38607 10.8495 5.28052 10.8495 5.21543 10.7845C5.15036 10.7194 5.15036 10.6139 5.21543 10.5488L5.21544 10.5488L7.41071 8.35351L7.76427 7.99996L7.41071 7.6464L5.21544 5.45115M5.45116 10.7845L5.21544 5.45115M5.21543 5.21544C5.15036 5.28053 5.15036 5.38606 5.21544 5.45115M5.21543 5.21544L5.21544 5.45115M5.21544 5.45115C5.21544 5.45115 5.21544 5.45115 5.21544 5.45115M5.21544 5.45115L5.21544 5.45115" fill="black" stroke="#2C2C2C")
        button.tag--button__primary.tag--button__simple--primary Tag