.tags_buttons_wrapper 
    button.secondary_tag_button Tag
        img(src="./img/close_grey.svg", alt="Grey close")
    button.primary_tag_button Tag
        img(src="./img/close_white.svg", alt="White close")
    button.simple--secondary_tag_button Tag 
    button.simple--primary_tag_button Tag