@import url('https://fonts.cdnfonts.com/css/rochester');
@import url('https://fonts.cdnfonts.com/css/playfair-display');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/roboto');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 18px;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
}
svg{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    padding-inline-start: 0;
}
ul li{
    list-style: none;
}
svg path{
    transition: 0.5s;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    width: fit-content;
}

/* Header */
header{
    padding-top: 20px;
}
hr{
    width: 100%;
    border:none;
    border-top: 2px solid #F3F3F3;
}
.header__logo h2{
    cursor: pointer;
    font-family: 'Rochester', sans-serif;
    font-size: 32px;
    line-height: 41px;
} 
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 23px;
}
.header__social_icons {
    display: flex;
    gap: 40px;
    align-items: center;
}
svg:hover .twitter {
    fill: #5186e9;
}
svg:hover .instagram {
    fill: #eb526c;
}
svg:hover .facebook {
    fill: #181aaf;
}
.header__account_icons {
    display: flex;
    gap: 24px;
    align-items: center;
}
.header__navigation {
    padding-top: 24px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__navigation ul{
    display: flex;
    gap: 83px;
}
/* .header__navigation ul li{
    transition: 0.5s;
} */
.header__navigation ul li a{
    font-size: 28px;
    line-height: 37px;
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    transition: 0.3s;
}
.header__navigation ul li a:hover{
    color: #EDA3B5;
}
.header__navigation ul li:hover a::after{
    content: '';
    position: absolute;
    background: #EDA3B5;
    width: 50%;
    height: 3px;
    border-radius: 2px;
    right: 25%;
    top: 120%;
}
/* Main section */
.main{
    padding: 103px 0 118px 0; 
    background: url(./img/hero.png) center center / cover no-repeat;
}
h1{
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
    font-family: 'Playfair Display';
    max-width: 361px;
    margin-bottom: 13px;
}
.main_content p{
    max-width: 446px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.main_content button{
    background: #1B2437;
    border-radius: 15px;
    padding: 23px 78px;
    font-weight: 700;
    line-height: 30px;
    color: #FFFFFF;
    transition: 0.5s;
}
.main_content button:hover{
    background: #3d4c6d;
}
/* Collection section*/
.collection {
    display: grid;
    grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item4" "item5 item5 item5 item5";
}
.main_collection {
    grid-area: item1;
    background: url(./img/women_collection_category.png) center center / cover no-repeat;
}
.main_collection h2{
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}
.main_collection p{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.women_collection {
}
.dresses {
}
.jackets {
}
.slider {
}