@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root{
    --avenir-font: 'Avenir LT Std', sans-serif;
    --inter-font: 'Inter', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --gilroy-font: 'Gilroy-Heavy', sans-serif;
    --sf-pro-font: 'SF Pro Display', sans-serif;
}