@import url("fonts.css");

/*  
    var(--avenir-font)
    var(--inter-font)
    var(--roboto-font)
    var(--gilroy-font)
    var(--sf-pro-font)
*/

*{
    box-sizing: border-box;
    margin: 0;
}
body{
}

.wrapper{
    margin-top: 20px;
}

/* First banner */
.first_banner{
    width: 1440px;
    height: 72px;
    background: #0B2239;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first_banner>p{
    width: 922px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.first_banner>a{
    margin-right: 20px;
    margin-left: 42px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
}
.first_banner>button{
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Second banner */
.second_banner{
    margin: 0 auto;
    margin-top: 20px;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.second_banner>img {
    width: 16px;
    height: 16px;
}
.second_banner>p{
    width: 695px;
    font-family: var(--inter-font);;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 20px;
}