@import url("fonts.css");

/*  
    var(--avenir-font)
    var(--inter-font)
    var(--roboto-font)
    var(--gilroy-font)
    var(--sf-pro-font)
*/

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #d8d8d8;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

button{
    cursor: pointer;
    border: none;
}

/* First banner */
.first_banner{
    width: 1440px;
    height: 72px;
    background: #0B2239;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first_banner>p{
    width: 922px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.first_banner>a{
    margin-right: 20px;
    margin-left: 42px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
}
.first_banner>button{
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
}

/* Second banner */
.second_banner{
    margin: 0 auto;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.second_banner>img {
    width: 16px;
    height: 16px;
}
.second_banner>p{
    width: 695px;
    font-family: var(--inter-font);;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 20px;
}
/* Second wrapper */
.second_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Third banner*/
.third_banner {
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.third_banner>img{
    padding: 8px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}
.third_banner>p{
    width: 347px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    margin-right: 10px;
    margin-left: 10px;
}
.third_banner>p>a{
    color: #EA4C89;
    text-decoration: none;
}
.decline_button {
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
}
.allow_button {
    margin-left: 10px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;    
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
}

/* Fourth banner */

.fourth_banner{
    width: 560px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fourth_banner>p{
    width: 469px;
    font-family: var(--avenir-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}
.fourth_banner>p>a{
    color: #E6842E;
    text-decoration: none;
}
.fourth_banner>button{
    font-family: var(--avenir-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
}