@import url("fonts.css");

/*  
    var(--avenir-font)
    var(--inter-font)
    var(--roboto-font)
    var(--gilroy-font)
    var(--sf-pro-font)
*/

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #d8d8d8;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

button{
    cursor: pointer;
    border: none;
}

/* First banner */
.first_banner{
    width: 1440px;
    height: 72px;
    background: #0B2239;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first_banner>p{
    width: 922px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.first_banner>a{
    margin-right: 20px;
    margin-left: 42px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
}
.first_banner>button{
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
}

/* Second banner */
.second_banner{
    margin: 0 auto;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.second_banner>img {
    width: 16px;
    height: 16px;
}
.second_banner>p{
    width: 695px;
    font-family: var(--inter-font);;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 20px;
}
/* Second wrapper */
.second_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Third banner*/
.third_banner {
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.third_banner>img{
    padding: 8px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}
.third_banner>p{
    width: 347px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    margin-right: 10px;
    margin-left: 10px;
}
.third_banner>p>a{
    color: #EA4C89;
    text-decoration: none;
}
.decline_button {
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
}
.allow_button {
    margin-left: 10px;
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;    
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
}

/* Fourth banner */

.fourth_banner{
    width: 560px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fourth_banner>p{
    width: 469px;
    font-family: var(--avenir-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}
.fourth_banner>p>a{
    color: #E6842E;
    text-decoration: none;
}
.fourth_banner>button{
    font-family: var(--avenir-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
}

/* Third wrapper */
.third_wrapper{
    display: flex;
    gap: 40px;
}

/* Fifth banner */
.fifth_banner{
    font-family: var(--roboto-font);
    width: 360px;
    height: 206px;
    color: #FFFFFF;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}
.fifth_banner>h3{
    margin-left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}
.fifth_banner>p{
    width: 312px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.fifth_banner_mini_wrapper{
    margin-left: 24px;
    display: flex;
    flex-direction: row;

    align-items: center;
}
.fifth_banner_mini_wrapper>p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-right: 67px;
}
.fifth_banner_mini_wrapper>button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
}

/* Sixth banner */
.sixth_banner{
    font-family: var(--roboto-font);
    width: 360px;
    padding-left: 16px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}
.sixth_banner>h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
}
.sixth_banner>p{
    width: 328px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
}
.manage_button {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
}
.sixth_accept_button {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
}

/* Fourth wrapper */
.fourth_wrapper{
    display: flex;
    gap: 40px;
}
/* Seventh banner */
.seventh_banner{
    font-family: var(--gilroy-font);
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seventh_banner>h2{
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
}
.seventh_banner>p{
    width: 256px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
}
.seventh_banner>button{
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    margin-top: 32px;
}

/* Eighth banner */
.eighth_banner {
    font-family: var(--sf-pro-font);
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}
.eighth_banner>p {
    width: 288px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 12px;
}
.eighth_banner_mini_wrapper>a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
    text-decoration: none;
    margin-right: 129px;
}
.eighth_banner_mini_wrapper>button {
    font-family: 'SF Pro Text';
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}