@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}
body{
    margin: 0 auto;
    background-color: #eceeff;
    max-width: 80vw;
}
hr{
    border: none;
    border-top: 3px solid rgb(117, 109, 0);
}
.logo{
    width: 50px;
}
h1{
    color: #fff600;
    -webkit-text-stroke: 2px black;
}
p{
    line-height: 1.5rem;
}
.hero{
    width: 40vw;
    border-radius: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    list-style: none;
    list-style-type: square;
}